.worldcup2 {
    width:100%;
}

.worldcup2 span {
    display: inline-table;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}
.worldcup-gametitle {
    border-bottom: 1px solid #d1d1d1;
}
.worldcup-playtime {
    width: 15%;
}
.xs .worldcup-playtime {
    width: 25%;
}

.worldcup-group {
    width: 7%;
}
.worldcup-team {
    width: 18%;
}
.worldcup2 span.worldcup-team1 {
    text-align: right ;
}
.worldcup2 span.worldcup-team2 {
    text-align: left ;
}

.worldcup2 .worldcup-player{
    text-align: left ;
    padding-left: 0px;
    padding-right: 0px;
}

.worldcup-flags {
    width: 7%;
    text-align: center;
}
.xs .worldcup-flags {
    width: 20%;
}
.worldcup-result {
    width: 10%;
    text-align: center;
}
.xs .worldcup-result {
    width: 20%;
}
.worldcup-points {
    width: 15%;

}
.xs
