
{namespace jve=JVE\Worldcup2\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="default" />

<f:section name="main">


    <div data-template="extension">
        <f:render partial="Steps" arguments="{stepindicators: stepindicators}"></f:render>
        <div id="worldcup-msg" class="alert alert-info hidden"></div>
        <f:variable name="now"><f:format.date date="now" format="H:i:s"/></f:variable>
        <f:if condition="{currentUser}">
            <f:if condition="{requestedUser}">
                <f:then>

                    <h3><f:link.external defaultScheme="" uri="#" onclick="window.location.href = '/user/{requestedUser.username}'; return false;">[{now}]:  <f:translate key="tx_worldcup2_domain_model_bet.feuser"/>: <f:if condition="{settings.showFullname}">
                            <f:then>{requestedUser.nemFirstname} {requestedUser.nemLastname}</f:then>
                            <f:else>{requestedUser.username} </f:else>
                            </f:if>
                        </f:link.external>
                    </h3>

                </f:then>
                <f:else>
                    <h3>[{now}]: <f:translate key="tx_worldcup2_domain_model_bet.feuser"/>:  <f:if condition="{settings.showFullname}">
                        <f:then>{currentUser.nemFirstname} {currentUser.nemLastname}</f:then>
                        <f:else>{currentUser.username}  {currentUser.nemFirstname} {currentUser.nemLastname} </f:else>
                    </f:if></h3>
                </f:else>
            </f:if>
        </f:if>


        <f:if condition="{games}">
            <div class="row bold worldcup-game worldcup-gametitle alert alert-default" data-pid="{betPid}">
                <f:spaceless>
                    <span class="worldcup-playtime"><f:translate key="date"/></span>
                    <span class="hidden-xs worldcup-group"><f:translate key="tx_worldcup2_domain_model_game.round"/></span>
                    <span class="hidden-xs worldcup-team worldcup-team1 "><f:translate key="tx_worldcup2_domain_model_game.team1"/></span>
                    <span class="worldcup-flags "><span class="hidden-sm hidden-md hidden-lg"><f:translate key="tx_worldcup2_domain_model_game"/></span></span>

                    <span class="hidden-xs worldcup-team worldcup-team2 "><f:translate key="tx_worldcup2_domain_model_game.team1"/></span>
                    <span class="worldcup-result"><f:translate key="result"/></span>
                    <span class="worldcup-result"><f:translate key="tx_worldcup2_domain_model_bet.feuser"/></span>
                    <span class="worldcup-points"><f:translate key="points"/></span>
                </f:spaceless>
            </div>
            <f:for as="game" each="{games}">

                <f:if condition="{game.remark}">
                    <h3 class="mt-2">{game.remark}</h3>
                </f:if>
                <f:if condition="{f:format.date( format: 'z' , date: '{game.playtime}')} == {f:format.date( format: 'z' , date: 'now')}">
                    <f:then>
                        <f:variable name="todayClass">alert-info </f:variable>
                    </f:then>
                    <f:else>
                        <f:if condition="{todayClass}"><div class="row mb-1"> </div></f:if>
                        <f:variable name="todayClass"></f:variable>
                    </f:else>
                </f:if>

                <div class="row worldcup-game alert p-0 {todayClass} mt-0 mb-0  "  id="worldcup-game-{game.uid}">
                    <f:spaceless>
                        <span class="worldcup-playtime"><f:format.date format="d.m. | H:i">{game.playtime}</f:format.date></span>
                        <f:render partial="GroupName" arguments="{round: '{game.round}'}" />
                        <span class="hidden-xs worldcup-team worldcup-team1">{game.team1.name}</span>
                        <span class="worldcup-flags">
                            <f:render partial="Flag" arguments="{team: game.team1}"/> : <f:render partial="Flag" arguments="{team: game.team2}"/>
                        </span>
                        <span class="hidden-xs worldcup-team worldcup-team2">{game.team2.name}</span>
                        <span class="worldcup-result">
                            <f:if condition="{game.finished}">
                                <f:then>{game.goalsteam1}:{game.goalsteam2}
                            </f:then><f:else>-- : --</f:else></f:if>
                        </span>
                        <span id="worldcup-result-{game.uid}" class="worldcup-result">
                            <f:render partial="Goal" arguments="{team: 1, game: game, requestedUser: requestedUser}" /> :
                            <f:render partial="Goal" arguments="{team: 2, game: game, requestedUser: requestedUser}" />
                        </span>
                        <span class="worldcup-points">
                            <f:if condition="{game.finished}">
                                <f:then>
                                   <span class="worldcup-points"> <f:if condition="{game.userbet}">{game.userbet.points}</f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{currentUser} > 0">
                                        <f:render partial="Bet" arguments="{_all}" />
                                    </f:if>
                                </f:else>
                            </f:if>
                        </span>
                    </f:spaceless>

                </div>
            </f:for>

        </f:if>

    </div>
</f:section>

