<f:layout name="default" />

<f:section name="main">
    <div data-template="extension" class="next card">
        <f:if condition="{currentUser}">
            <f:if condition="{requestedUser}">
                <f:then>
                    <h3> Requested user : {requestedUser.uid} </h3>
                </f:then>
                <f:else>
                    <h3>Your Bets  {currentUser.id}: {currentUser.username}</h3>
                </f:else>
            </f:if>
        </f:if>


        <f:if condition="{games}">
            <f:for as="game" each="{games}">
                <div class="worldcup-game">
                    <span class="worldcup_playtime"><f:format.date format="d.m. | H:i">{game.playtime}</f:format.date></span>
                    <f:render partial="GroupName" arguments="{round: '{game.round}'}" /> :
                    <f:spaceless><span class="hidden-xs">{game.team1.name}</span> <span class="mx-2 flag flag-{game.team1.flag}" title="{game.team1.name}"></span> / <span class="mx-2 flag flag-{game.team2.flag}" title="{game.team2.name}"></span> <span class="hidden-xs">{game.team2.name}</span>
                        <f:if condition="{game.finished}">
                            <f:then>{game.goalsteam1}:{game.goalsteam2}
                        </f:then><f:else>-- : --</f:else></f:if>
                        <span id="worldcup-result-{game.uid}">
                            <f:render partial="Goal" arguments="{team: 1, game: game, requestedUser: requestedUser}" /> :
                            <f:render partial="Goal" arguments="{team: 2, game: game, requestedUser: requestedUser}" />
                        </span>
                        <f:if condition="{game.finished}">
                            <f:then>
                               | <f:if condition="{game.userbet}">{game.userbet.points}</f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{currentUser > 0 }">
                                    <f:render partial="Bet" arguments="{_all}" />
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:spaceless>
                    <f:render partial="Javascript" arguments="{_all}" />
                </div>
            </f:for>
        </f:if>

    </div>
</f:section>

