<f:layout name="default" />

<f:section name="main">
    <div data-template="extension" class="next card">
        <f:if condition="{games}">

            <f:for as="game" each="{games}">
                <div class="game">
                    <span class="worldcup_playtime"><f:format.date format="d.m. | H:i">{game.playtime}</f:format.date></span>
                    <f:spaceless>
                        <f:render partial="Flag" arguments="{team: game.team1}"/>
                        <span id="worldcup-result-{game.uid}">
                            <f:render partial="Goal" arguments="{team: 1, game: game, requestedUser: requestedUser}" /> :
                            <f:render partial="Goal" arguments="{team: 2, game: game, requestedUser: requestedUser}" />
                        </span>
                        <f:render partial="Flag" arguments="{team: game.team2}"/>
                        <f:if condition="{settings.pids.betPage}">
                            <f:link.page class="btn btn-default" pageUid="{settings.pids.betPage}">
                                <span class="fa fa-futbal-o"></span> <f:translate key="bet">Bet</f:translate>
                            </f:link.page>>
                        </f:if>
                    </f:spaceless>
                    <f:render partial="Javascript" arguments="{_all}" />
                </div>
            </f:for>
        </f:if>

    </div>
</f:section>


