
{namespace jve=JVE\Worldcup2\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace mmf=Allplan\MmForum\ViewHelpers}

<f:layout name="default" />

<f:section name="main">

    <div data-template="extension" >
        <f:render partial="Steps" arguments="{stepindicators: stepindicators}"></f:render>
        <f:if condition="{currentUser}">
            <div class="well" id="worldcupCurrentUser" data-userid="{currentUser.id}" data-start="{start}" data-pid="{gamesPID}" data-userbetpid="{userbetPID}">
                <f:if condition="{settings.flexform.showDomain}">
                    <f:then>
                        <span class="right">
                             <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {groupranking: '1'}}">
                                 <i class="fa fa-chart-line mr-1"></i> <span class="hidden-xs">Group Ranking</span>
                            </f:link.page>
                        </span>
                    </f:then>
                </f:if>

                <h3 class="mt-0">
                    Result <span data-value="username"><i class="fa fa-spinner fa-small fa-spin"></i></span>: <span class="bold p-1"><span data-value="userpoint"><i class="fa fa-spinner fa-small fa-spin"></i></span> Points, Pos.: <span data-value="userpos"><i class="fa fa-spinner fa-small fa-spin"></i></span></span>
                    <span class="small"> ({lastUpdated})</span>
                </h3>
                <p>
                    In case of equality: The  result of this formular is used: <br class="hidden-md hidden-lg">
                    <i>ABS( (Goals total) - ( Goals User has bet)) = Difference</i><br>
                    Each Users difference is shown in brackets after the point result, <b>lower values</b> are ranked better.
                    <br><i class="far fa-futbol"></i> Goals total {goalsteam1} : {goalsteam2} = <span class="mr-2" data-value="goalstotal">{goalsTotal}</span>
                    <br class="hidden-md hidden-lg"><i class="far fa-futbol"></i> User: <span data-value="userbet1" class="mr-2" ><i class="fa fa-spinner fa-small fa-spin"></i></span>:<span data-value="userbet2"><i class="fa fa-spinner fa-small fa-spin"></i></span> = <span data-value="userbettotal"><i class="fa fa-spinner fa-small fa-spin"></i></span>
                    <br class="hidden-md hidden-lg"><i class="far fa-futbol"></i> Difference: <span data-value="diff" class="mr-2" >??</span>
                </p>
            </div>


        </f:if>
        <f:if condition="{filter}">
            <f:then>
                <div class="alert alert-info">
                    FILTER: {filter}
                </div>
            </f:then>

            <f:else>

            </f:else>
        </f:if>

        <f:if condition="{rankings}">
            <f:then>
                <div class="row  worldcup-game worldcup-gametitle mb-2">
                    <f:spaceless>
                        <div class="col-xs-5 col-sm-6 p-0 m-0">
                            <span class="col-xs-1  hidden-xs"> </span>
                            <span class="col-xs-4  bold">Pos</span>
                            <span class="col-xs-6 col-sm-5  worldcup-player bold">Player</span>
                            <span class="col-xs-2  bold">#</span>
                        </div>
                        <div class="col-xs-7 col-sm-6  p-0 m-0">

                            <span class="col-xs-3" title="Next Game (starting soon or still running)">
                                <f:if condition="{nextGame}">
                                    <f:render partial="Flag" arguments="{team: nextGame.team1}"/><span class="hidden-xs">:</span><f:render partial="Flag" arguments="{team: nextGame.team2}"/>
                                    <br>
                                    -:-
                                </f:if>
                            </span>
                            <span class="col-xs-3" title="Next Game 2 (starting soon or still running)">
                                <f:if condition="{nextOtherGame}">
                                    <f:render partial="Flag" arguments="{team: nextOtherGame.team1}"/><span class="hidden-xs">:</span><f:render partial="Flag" arguments="{team: nextOtherGame.team2}"/>
                                    <br>
                                    -:-
                                </f:if>
                            </span>
                            <span class="col-xs-3" title="{lastGameText}">
                                <f:render partial="Flag" arguments="{team: lastGame.team1}"/><span class="hidden-xs">:</span><f:render partial="Flag" arguments="{team: lastGame.team2}"/>
                                <br>
                                {lastGame.goalsteam1}:{lastGame.goalsteam2}
                            </span>
                            <span class="col-xs-3" title="{secondGameText}">
                                <f:render partial="Flag" arguments="{team: secondGame.team1}"/><span class="hidden-xs">:</span><f:render partial="Flag" arguments="{team: secondGame.team2}"/>
                                <br>
                                {secondGame.goalsteam1}:{secondGame.goalsteam2}
                            </span>
                        </div>

                    </f:spaceless>
                </div>
                <f:variable name="best10">0</f:variable>
                <f:variable name="best10count">0</f:variable>
                <f:variable name="best10shown">false</f:variable>
                <f:variable name="best10newpoints">0</f:variable>
                <f:for as="ranking" each="{rankings}">
                    <f:if condition="{start} < 50">
                        <f:if condition="{filter}">
                            <f:if condition="{ranking.pos} < 11">
                                <f:then>
                                    <f:if condition="{ranking.BetsTotal} > 10">
                                        <f:variable name="best10">{best10 + ranking.points}</f:variable>
                                        <f:variable name="best10count">{best10count + 1}</f:variable>
                                        <f:if condition="{ranking.lastBet} &&  {ranking.lastBet.points} > 0">
                                            <f:variable name="best10newpoints">{best10newpoints + ranking.lastBet.points}</f:variable>
                                        </f:if>
                                        <f:if condition="{ranking.secondBet} && {ranking.secondBet.points} > 0">
                                            <f:variable name="best10newpoints">{best10newpoints + ranking.secondBet.points}</f:variable>
                                        </f:if>

                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{best10shown}">
                                        <f:else>
                                            <f:variable name="best10shown">true</f:variable>
                                            <div class="row worldcup-ranking mt-1">
                                                <div class="alert alert-info">
                                                    "Best {best10count}" players reached <b>{best10} ( +{best10newpoints})</b> Points. <f:if condition="{best10count}">(<f:format.number decimals="1">{best10/best10count}</f:format.number> Ø) </f:if>
                                                </div>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:if>
                    </f:if>
                    <div class="row worldcup-ranking" data-userUid="{ranking.uid}">
                        <f:spaceless>
                            <div class="col-xs-5 col-sm-6 p-0 m-0">
                                <div class="col-xs-12 p-0 m-0">
                                    <span class="col-sm-1  hidden-xs ">
                                         <f:if condition="{settings.flexform.showDomain}">
                                             <f:then>
                                                <i class="userIcon userIcon-small {ranking.usericon}" alt="icon" title="{f:translate(key: 'LLL:EXT:nemconnections.{ranking.usericon}_public_view')}"></i>
                                             </f:then>
                                             <f:else>
                                                <f:link.page additionalParams="{tx_worldcup2_play: {filter: 'USERTYP'}}">
                                                    <i class="userIcon userIcon-small {ranking.usericon}" alt="icon" title="{f:translate(key: 'LLL:EXT:nemconnections.{ranking.usericon}_public_view')}"></i>
                                                </f:link.page>
                                             </f:else>
                                         </f:if>
                                    </span>

                                    <span class="col-xs-2  bold">{ranking.pos}</span>

                                    <span class="col-xs-2">
                                        <f:link.page additionalParams="{tx_worldcup2_play: {filter: 'COUNTRY-{ranking.flag}'}}">
                                            <i class="flag flag-{ranking.flag}" title="{ranking.flag}"></i>
                                        </f:link.page>
                                    </span>
                                    <span class="col-xs-5 col-sm-5  worldcup-player">
                                        <f:if condition="{settings.flexform.showDomain}">
                                            <f:then>
                                                <f:link.page additionalParams="{tx_worldcup2_play: {filter: 'KD-NUM--{ranking.domain}'}}">
                                                    [<f:format.crop maxCharacters="7" append="">{ranking.domain}</f:format.crop>]
                                                </f:link.page>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{ranking.userFilter}">
                                                    <f:then>
                                                        <f:link.page additionalParams="{tx_worldcup2_play: {filter: '{ranking.userFilter}'}}">
                                                            [<f:format.crop maxCharacters="12" append="">{ranking.userType}</f:format.crop>]
                                                        </f:link.page>
                                                    </f:then>
                                                    <f:else>
                                                       ----
                                                    </f:else>
                                                </f:if>

                                            </f:else>
                                        </f:if>

                                    </span>
                                    <span class="col-xs-2 " data-toggle="tooltip" data-html="true" title="User got {ranking.points} points with {ranking.betcount} Bets. <br>User bet goals total: {ranking.betsteam1}:{ranking.betsteam2} <br>Results in difference: <b>{ranking.diff}</b> ({goalsTotal} - {ranking.betstotal})">{ranking.points} <span class="small hidden-xs">({ranking.diff})</span></span>
                                </div>
                                <span class="col-xs-4 col-sm-5"></span>
                                <span class="col-xs-8 col-sm-7 worldcup-player">
                                    <f:link.page  pageUid="{settings.pids.listgames}" additionalParams="{tx_worldcup2_play: {user: ranking.uid}}" title="{ranking.uid}: {ranking.username}">
                                            <f:if condition="{settings.showFullname}">
                                                <f:then> <f:format.crop maxCharacters="16">{ranking.tx_nem_firstname} {ranking.tx_nem_lastname}</f:format.crop></f:then>
                                                <f:else><span class="hidden-sm hidden-md hidden-lg"><f:format.crop maxCharacters="16" append="">{ranking.username}</f:format.crop></span><span class="hidden-xs">{ranking.username}</span></f:else>
                                            </f:if>
                                    </f:link.page>
                                    <span class="small hidden-sm  hidden-md  hidden-lg">({ranking.diff})</span>
                                </span>

                            </div>
                            <div class="col-xs-7 col-sm-6 p-0 m-0">
                                <span class="col-xs-3   ">
                                    <f:if condition="{ranking.nextBet}">{ranking.nextBet.goalsTeam1}:{ranking.nextBet.goalsTeam2} </f:if>
                                </span>
                                <span class="col-xs-3   ">
                                    <f:if condition="{ranking.nextOtherBet}">{ranking.nextOtherBet.goalsTeam1}:{ranking.nextOtherBet.goalsTeam2} </f:if>
                                </span>
                                <f:render section="lastgame" arguments="{bet: ranking.lastBet, class: ' col-xs-3 '}"/>
                                <f:render section="lastgame" arguments="{bet: ranking.secondBet, class: ' col-xs-3 '}"/>
                            </div>
                        </f:spaceless>
                    </div>
                </f:for>
                <f:if condition="{start} < 50">
                    <f:if condition="{filter}">
                        <f:then>
                            <f:if condition="{best10shown}">
                                <f:else>
                                    <div class="alert alert-info">
                                        "Best {best10count}" players reached <b>{best10} (+{best10newpoints})</b> Points. <f:if condition="{best10count}">(<f:format.number decimals="1">{best10/best10count}</f:format.number> Ø) </f:if>
                                    </div>
                                </f:else>
                            </f:if>
                        </f:then>

                        <f:else></f:else>
                    </f:if>
                </f:if>

                <f:security.ifHasRole role="44">
                    <div class="row mt-3">
                        <div class="col-xs-4">
                            {start} - {end} / {playerTotal}
                        </div>
                        <div class="col-xs-8">
                            <div class="right">
                                <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '0', filter: filter}}">
                                   <span class="visible-sm visible-md visible-lg hidden-xs">1-50</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">1</span>
                                </f:link.page>
                                <f:if condition="{playerTotal} > 50">
                                    <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '50', filter: filter}}">
                                        <span class="visible-sm visible-md visible-lg hidden-xs">51-100</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">2</span>
                                    </f:link.page>
                                </f:if>
                                <f:if condition="{playerTotal} > 100">
                                    <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '100', filter: filter}}">
                                        <span class="visible-sm visible-md visible-lg hidden-xs">101-150</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">3</span>
                                    </f:link.page>
                                </f:if>
                                <f:if condition="{start} < 200">
                                    <f:then>
                                        <f:if condition="{playerTotal} > 150">
                                            <f:then>
                                            <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '150', filter: filter}}">
                                                <span class="visible-sm visible-md visible-lg hidden-xs">151-200</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">4</span>
                                            </f:link.page>
                                            </f:then>
                                            <f:else>
                                              ..
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                </f:if>
                                <f:if condition="{start} < 250">
                                    <f:if condition="{playerTotal} > 200">
                                        <f:then>
                                            <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '200', filter: filter}}">
                                                <span class="visible-sm visible-md visible-lg hidden-xs">201-250</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">5</span>
                                            </f:link.page>
                                        </f:then>
                                        <f:else>
                                            ..
                                        </f:else>
                                    </f:if>
                                </f:if>
                                <f:if condition="{start} > 150">
                                    <f:then>
                                        <f:if condition="{playerTotal} > 250">
                                            <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '250', filter: filter}}">
                                                <span class="visible-sm visible-md visible-lg hidden-xs">251-300</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">6</span>
                                            </f:link.page>
                                        </f:if>


                                        <f:if condition="{playerTotal} > 300">
                                            <f:then>
                                                <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '300', filter: filter}}">
                                                    <span class="visible-sm visible-md visible-lg hidden-xs">301-350</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">6</span>
                                                </f:link.page>
                                            </f:then>
                                            <f:else>
                                                ..
                                            </f:else>
                                        </f:if>
                                        <span class="hidden-xs">
                                            <f:if condition="{start} > 250">
                                                <f:if condition="{playerTotal} > 350">
                                                    <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '350', filter: filter}}">
                                                        <span class="visible-sm visible-md visible-lg hidden-xs">351-400</span><span class="visible-xs hidden-sm hidden-md hidden-lg ">7</span>
                                                    </f:link.page>
                                                </f:if>
                                            </f:if>
                                        </span>
                                    </f:then>


                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:security.ifHasRole>

            </f:then>
            <f:else>
                <f:if condition="{grouprankings}">
                    <f:then>
                        <div class="alert border">
                             <span class="right">
                             <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {start: '0'}}">
                                 <i class="fa fa-chart-line mr-1"></i> <span class="hidden-xs">User Ranking </span>
                            </f:link.page>
                        </span>

                            <h3 class="mt-2">

                                Group Ranking <span class="ml-1">
                                    <a href="#"  class="btn btn-xs btn-default" data-toggle="collapse" data-target=".worldcup-player-collapse">
                                        <i class="fa fa-user "></i>
                                    </a>
                                </span>
                            </h3>
                            <f:for as="ranking" each="{grouprankings}" iteration="index">
                                <f:variable name="pos">{index.index +1}</f:variable>
                                <div data-toggle="collapse" data-target=".worldcup-player-collapse" class="pointer row worldcup-ranking  alert {f:if(condition: index.isFirst , then:' alert-info ', else: ' alert-notice ')}  p-0 pt-1 pb-1">
                                    <div class="col-xs-2 col-sm-1 ">
                                        <b>{pos}.</b>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-3">
                                        <f:link.page additionalParams="{tx_worldcup2_play: {filter: 'KD-NUM--{ranking.domain}'}}">
                                            {ranking.domain}
                                        </f:link.page>

                                    </div>
                                    <div class="col-xs-2 col-sm-1 ">
                                        {ranking.points}
                                    </div>
                                    <div class="col-xs-3 col-sm-2 " title="Result of best  {ranking.count} players">
                                        ({ranking.perPlayer} Ø)
                                    </div>
                                    <div class="hidden-xs visible-sm visible-md visible-lg  col-sm-3 " title="Result of best  players of this brand">
                                        best {ranking.count} of {ranking.player} players
                                    </div>

                                </div>
                                <f:security.ifAuthenticated>
                                    <f:if condition="{ranking.players}">
                                        <div class="row collapse  mb-2 worldcup-player-collapse">

                                            <f:for as="player" each="{ranking.players}" iteration="userIndex">
                                                <div class="col-xs-2 col-md-1">
                                                        <f:if condition="{player.ImagePath}">
                                                            <f:then>
                                                                <div><mmf:user.avatarAsArray user="{player}" width="50c"  height="75" alt="{player.username}" style="width:100%; height:auto;" title="user reached {player.points} points"/></div>
                                                            </f:then>
                                                            <f:else>
                                                                <div><f:image data="{toggle: 'tooltip', html: 'true'}" title="You are one of the best players? <br><br>To upload your profile image, follow the linked username below YOUR placeholder." src="{mmf:user.avatarUrl()}"  width="50c"  height="75" style="width:100%; height:auto;"/></div>
                                                            </f:else>
                                                        </f:if>
                                                    <div class="small">
                                                        <f:format.html><mmf:user.linkAsUID pid="{settings.pids.userProfilePID}" user="{player.uid}" username="{player.username -> f:format.crop(maxCharacters: '10' , append: '..')}"/></f:format.html>
                                                    </div>
                                                </div>
                                            </f:for>
                                        </div>
                                    </f:if>

                                </f:security.ifAuthenticated>
                            </f:for>
                        </div>

                        <f:if condition="{filter}">
                            <f:else>
                                <f:if condition="{groupranking}">
                                    <div class="alert alert-notice">
                                        <i class="fa fa-futbol mr-1"> </i> Penalty Shootout needed?  {amount}
                                        <f:link.page class="btn btn-default" additionalParams="{tx_worldcup2_play: {groupranking: '1' , amount: amountPlus1}}">
                                            +1 <i class="fa fa-user mr-1"></i> <span class="hidden-xs"> Player</span>
                                        </f:link.page>
                                    </div>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <div class="alert alert-info">
                            <h3>
                                <f:translate key="noranking" default="No Ranking yet"/>
                            </h3>

                            <p>
                                <f:translate key="noranking.subline" default="coming soon"/>
                            </p>
                        </div>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>

    </div>
</f:section>

<f:section name="lastgame">

    <f:if condition="{bet}">
        <f:then>
            <span class=" {class}" data-toggle="tooltip" data-html="true" title="User bet: {bet.goalsTeam1}:{bet.goalsTeam2} <br>User got: {bet.points} Points">
                <f:switch expression="{bet.points}">
                    <f:case value="0"><i class="fa fa-long-arrow-alt-right"></i></f:case>
                    <f:case value="1"><i class="fa fa-long-arrow-alt-up"></i></f:case>
                    <f:case value="2"><i class="fa fa-long-arrow-alt-up"></i><i class="fa fa-long-arrow-alt-up"></i></f:case>
                    <f:case value="3"><i class="fa fa-long-arrow-alt-up"></i><i class="fa fa-long-arrow-alt-up"></i><i class="fa fa-long-arrow-alt-up"></i></f:case>
                </f:switch>
             </span>
        </f:then>
        <f:else>
        <span class=" {class}">--</span>
        </f:else>
    </f:if>

</f:section>
